body {
  font-family: 'Open Sans', Courier, monospace;
}

.container {
  display: flex;
  margin-top: 2%;
  margin-left: 30%;
}

.work-title {
  width: 400px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 30%;
  margin-top: 15%;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.title {
  font-weight: 500;
  font-size: 16px;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(255, 188, 4);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(255, 188, 4);
  cursor: pointer;
}

/*.slider {
  width: 200px;
}*/

.value {
  width: 30px;
  height: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.squareColor {
  margin-left: 5px;
  margin-top: 5px;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}